.wrapper{
	max-width: 100%;
	width: 800px;
	margin: auto;
}

.nav-bar{
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	background-color: white;
	padding: 15px 0;
}

.button_contact{
	margin-left: 1em;
	border: none;
	outline: none;
	border-radius: .3rem;
	padding: 3px 18px 2px 18px;


	color: white;
	text-decoration: none;
	text-align: center;

	background: #2AC77F;
}

#logo{
	font-family: 'Unica One', cursive;
	font-size: 25px;
	display: inline;
	font-weight: 600;
	text-transform: uppercase;
}

#links {
	display: inline;
	list-style-type: none;
	padding: 5px 0 0 0;
	margin: 0;
	float: right;
}

#links a:not(.button_contact)  {
	display: inline;
	font-weight: 300;
	color: #484848;
	margin-left: 1em;
	text-decoration: none;
	opacity: .6;
}

#links a:not(.button_contact):hover {
	opacity: 1;
}

.hr {
    width: 95%
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: #DDDDDD;
}

h2{
	text-transform: uppercase;
	font-weight: 500;
	margin: 30px 0 10px 0;
	font-size: 1.1em;
	color: #6F6F6F;
}

h1{
	text-transform: uppercase;
	margin: 0;
	font-size: 1.1em;
	color: #6F6F6F;
}

body{
	background-color: white;
	font-family: 'Hind', sans-serif;
	margin: 0;
}

section>p{
	font-weight: 400;
	margin: 0 0 0 0;
	font-size: 1em;
	color: #484848;
}

.banner{
	height: 500px;
	background-color: #EDEDED;
	padding: 50px 0;
}

.banner p{
	margin: 0 0 0 0;
	font-weight: 300;
	color: #9A9A9A;
	font-size: 13px;
}

.project_showcase{
	margin-top: 15px;
	text-align: justify; 
}

.project_showcase>img{
	width: 100%;
	max-width: 220px;
	display: inline-block;
}

.project_showcase:after{
	content:'';
	width: 100%;
	display: inline-block;
}

#country_codes_wire_frames{
	width: 200px;
	float: left;
	image-orientation: from-image;
}

@media (max-width: 900px){
	.wrapper{
		width: 90vw;
	}
}

@media (max-width: 750px){
	.project_showcase>img{
		display: block;
		margin: 0 auto 15px auto;
	}

	.banner{
		height: 1300px;
	}
}