*{
	font-family: 'Hind', sans-serif;
}

body{
	margin: 0;
	background-color: #ffffff;
}

.wrapper{
	max-width: 100%;
	width: 800px;
	margin: auto;
}

/* -----nav bar---------*/
.nav-bar{
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	background-color: white;
	padding: 15px 0;
}

#logo{
	font-family: 'Unica One', cursive;
	font-size: 25px;
	display: inline;
	font-weight: 600;
	text-transform: uppercase;
}

#links {
	display: inline;
	list-style-type: none;
	padding: 5px 0 0 0;
	margin: 0;
	float: right;
}

#links a:not(.button_contact)  {
	display: inline;
	font-weight: 300;
	color: #484848;
	margin-left: 1em;
	text-decoration: none;
	opacity: .6;
}

#links a:not(.button_contact):hover {
	opacity: 1;
}

.button_contact{
	margin-left: 1em;
	border: none;
	outline: none;
	border-radius: .3rem;
	padding: 3px 18px 2px 18px;


	color: white;
	text-decoration: none;
	text-align: center;

	opacity: .8;

	background: #2AC77F;
}

.button_contact:hover{
	opacity: 1;
}
/* --------------------*/


/* -----about section---------*/
#aboutSection{
	height: 600px;
	background-image: url(images/websitebg.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .9;
}

#aboutSection h1{
	width: 400px;
	padding-top: 250px;
	text-align: left;
	float: right;
	color: white;
	margin: 0;
}
/* --------------------*/

/* -----project section---------*/

h2 {
	font-size: .9rem;
	color: #5F5F5F;
	margin: 25px 0;
}

.project_card{
	height: 205px;
	width: 355px;
	border: 1px solid #EDEDED;
	border-radius: .2rem;
	display: inline-block;
	padding: 15px;
}

.image_container, .right{
	display: inline-block;
}

.right{
	width: 160px;
	float: right;
	padding-left: 5px;
}

#country_codes_card{
	float: right;
}

.image_container{
	height: 178px;
	width: 178px;
	border-radius: .2rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#comeups_image{
	background-image: url(images/ComeUpsMovies.png);
}

#countrycodes_image{
	background-image: url(images/CountryCodes.png);
}

.project_title{
	display: block;
	margin: 0;
	font-size: .9rem;
	color: #767676;
}

.used_tech{
	margin: 0 0 7px 0;
	font-size: .7rem;
	color: #95989A;
}

.project_description{
	margin: 0 0 15px 0;
	font-size: .9rem;
	color: #2F2F2F;
}

.button_view{
	border: 1px solid lightgrey;
	outline: none;
	border-radius: .2rem;
	padding: 2px 18px 1px 18px;

	color: #B1B4B5;
	text-decoration: none;
	text-align: center;

	background: white;
	text-transform: uppercase;
	font-size: .8rem;
	font-weight: 500;
	margin-left: 0;
	vertical-align: top;
}

.button_view:hover{
	border: 1px solid grey;
	color: grey;
}

#github_button{
	margin-left: 1em;
	opacity: .5;
}

#github_button:hover{
	opacity: .9;
}

a img{
	width: 20px;
}


/* --------------------*/



#contactSection p{
	text-align: center;
}

@media (max-width: 900px){
	.wrapper{
		width: 90vw;
	}

}

@media (max-width: 1000px){
	#aboutSection{
		background-size: cover;
		background-position: -450px;
	}
}

@media (max-width: 800px){
	#slidesWrapper{
		width: 400px;
	}

	#slidesWrapper > div{
		height: 450px;
		width: 400px;
	}	

}
